:root {
  --primary-color: rgb(183, 230, 235);
}

/* ====== Header ====== */

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header nav a {
  color: var(--primary-color);
}

header nav a:hover {
  background-color: var(--primary-color);
  color: rgb(59, 59, 59);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

/* ====== Hero Section ======== */
#hero {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-relative {
  position: relative;
}

#hero-content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  padding: 2rem;
  border-radius: 8px;
  z-index: 1;
}

#hero-content h1 {
  font-family: "Raleway", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0;
  animation: fadeIn 2s ease-in-out;
}

#hero-content p {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem 0 0;
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ======= Main =============*/

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

li p a {
  text-decoration: none;
  color: rgb(120, 10, 120);
}

.ancre {
  text-decoration: none;
  color: rgb(91, 12, 91);
}

.ancre:hover {
  text-decoration: underline;
}

.display-none {
  display: none;
  position: unset;
}

.position-static {
  position: static;
}
