:root {
  --bistre: #403022ff;
  --eerie-black: #21221aff;
  --drab-dark-brown: #312a1aff;
  --bistre-2: #271b12ff;
  --timberwolf: #e1dcdbff;
  --dark-moss-green: #605c22ff;
  --beaver: #978367ff;
  --lion: #b59574ff;
  --dim-gray: #797466ff;
  --khaki: #c4ab9aff;

  --page-logo-color: rgb(54, 150, 161);
}

body {
  background: linear-gradient(180deg, rgb(55, 83, 86), rgb(140, 174, 178));
  color: rgb(255, 255, 255);
}

#page-logo a {
  color: var(--page-logo-color);
}

header a {
  color: var(--page-logo-color);
}

.menu-btn span{
  background-color: var(--page-logo-color);
}

#hero {
  background-image: url("/img/places/bilbao/bilbao-city-view-architecture.jpg");
}

/*-------------------INTRODUCTION---------------------*/
#city-introduction {
  background: linear-gradient(180deg, var(--beaver), rgb(88, 113, 116));

  padding: 4rem;
}

#introduction-content {
  margin: 0 auto;
  width: 80%; /* Set a width */
}

/*---------------------CONTENT------------------------*/

.fullscreen-img {
  color: rgb(42, 7, 146);
  font-weight: bold;
}

.fullscreen-img:hover {
  text-decoration: underline;
  cursor: pointer;
}

#cities-beauties {
  margin: 0 auto;
  width: 80%; /* Set a width */
}

#cities-beauties ul li {
  margin: 0 auto;
}

.image-item-content {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 2rem 0;
}

.reverse {
  /*image-item-content reverse*/
  flex-direction: row-reverse;
}

.horizontal-images {
  width: 26rem;
}

#row-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0 2rem 0;
}

#row-images img {
  margin: 0.5rem;
}

.item-content {
  margin: 1.5rem 2rem;
}

/*----------Media-Queries------------*/

@media (max-width: 64rem) {
  /*1024px*/
  #hero-content {
    width: 80%;
  }

  #hero-content h1 {
    font-size: 2.5rem;
  }

  #hero-content p {
    font-size: 1.25rem;
  }

  .item-content {
    margin: 1.5rem 1.5rem;
  }

  /*----MAIN CONTENT-----*/
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
    text-align: justify;
  }

  main li img {
    width: 14.5rem;
    height: 24rem;
  }

  .horizontal-images {
    width: 15.5rem;
  }
  .styled-table {
    width: 95%;
  }
}

@media (max-width: 48.5rem) {
  /*768px*/

  #hero-content {
    width: 90%;
  }

  #hero-content h1 {
    font-size: 2.5rem;
  }

  #hero-content p {
    font-size: 1.25rem;
  }

  #hero-content a {
    font-size: 1rem;
  }

  .destination {
    margin: 0 0.4rem;
  }
  /*----MAIN CONTENT-----*/
  #city-introduction {
    padding: 0.2rem 0.1rem;
  }
  p {
    font-size: 1rem;
  }

  main li img {
    width: 10.5rem;
    height: 20rem;
  }
}

@media (max-width: 30rem) {
  /*480px*/
  .image-item-content {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .item-content {
    margin: 0rem 1rem;
  }

  main li img {
    width: 14.5rem;
    height: 24rem;
  }

  #row-images {
    margin: 2rem 0 2rem 0;
    justify-content: center;
  }

  #row-images img {
    width: 6rem;
    height: 18rem;
    margin: 0.2rem;
  }

  .styled-table {
    min-width: 18rem;
  }
}
