/* ========= CSS VARIABLES ========= */
:root {
  --primary-dark: rgb(55, 83, 86);
  --primary-light: rgb(140, 174, 178);
  --secondary-dark: rgb(50, 51, 51);
  --secondary-light: rgb(88, 113, 116);
  --text-color: rgb(255, 255, 255);
  --highlight-color: rgb(42, 7, 146);
  --highlight-color-introduction: rgb(114 191 233);
}

/* ========= GLOBAL STYLES ========= */
body {
  background: linear-gradient(
    180deg,
    var(--primary-dark),
    var(--primary-light)
  );
  color: var(--text-color);
}

/* ========= HERO SECTION ========= */
#hero {
  background-image: url("/img/places/izmir/izmir-saat-kulesi3.jpg");
}

/* ========= CITY INTRODUCTION ========= */
#city-introduction {
  background: linear-gradient(
    180deg,
    var(--secondary-dark),
    var(--secondary-light)
  );
  padding: 4rem;
}

#introduction-content {
  margin: 0 auto;
  width: 80%;
}

/* ========= CITY CONTENT ========= */
#cities-beauties {
  margin: 0 auto;
  width: 80%;
}

#cities-beauties ul li {
  margin: 0 auto;
}

/* Image Content Styles */
.image-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0;
}

.reverse {
  flex-direction: row-reverse;
}

.horizontal-images {
  width: 26rem;
}

#row-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0;
}

#row-images img {
  margin: 0.5rem;
}

.item-content {
  margin: 1.5rem 2rem;
}

/* === Fullscreen Image Styles === */
.fullscreen-img {
  color: var(--highlight-color);
  font-weight: bold;
}

#introduction-content .fullscreen-img {
  color: var(--highlight-color-introduction);
  font-weight: bold;
}

.fullscreen-img:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ========= MEDIA QUERIES ========= */
@media (max-width: 68.75rem) {
  #cities-beauties {
    width: 90%;
  }

  p{
    font-size: 1.4rem;
  }
}

@media (max-width: 64rem) {
  /* 1024px */
  /* Hero Content */
  #hero-content {
    width: 80%;
  }

  #hero-content h1 {
    font-size: 2.5rem;
  }

  #hero-content p {
    font-size: 1.25rem;
  }

  /* Main Content */
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
    text-align: justify;
  }

  .item-content {
    margin: 1.5rem;
  }

  /* Images */
  main li img {
    width: 14.5rem;
    height: 24rem;
  }

  .horizontal-images {
    width: 15.5rem;
  }

  .styled-table {
    width: 95%;
  }
}

@media (max-width: 48.5rem) {
  /* 768px */
  /* Hero Content */
  #hero-content {
    width: 90%;
  }

  #hero-content h1 {
    font-size: 2.5rem;
  }

  #hero-content p {
    font-size: 1.25rem;
  }

  #hero-content a {
    font-size: 1rem;
  }

  /* Main Content */
  #city-introduction {
    padding: 0.2rem 0.1rem;
  }

  p {
    font-size: 1rem;
  }

  .image-item-content {
    align-items: center;
  }

  .destination {
    margin: 0 0.4rem;
  }

  /* Images */
  main li img {
    width: 10.5rem;
    height: 20rem;
  }
}

@media (max-width: 45rem) {
  /* 480px */
  /* Layout */
  .image-item-content {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .item-content {
    margin: 0 1rem;
  }

  .image {
    margin-left: 10%;
  }

  main li img {
    width: 90%;
    height: 24rem;
  }

  /* Images */
  main li img {
    width: 14.5rem;
    height: 24rem;
  }
  /* Table */
  .styled-table {
    min-width: 18rem;
  }
}

@media (max-width: 30rem) {
  /* #row-images {
    margin: 2rem 0;
    justify-content: center;
  }

  #row-images img {
    width: 6rem;
    height: 18rem;
    margin: 0.2rem;
  } */

  .image {
    margin-left: 0;
  }
}
