h1 {
  color: black;
}

p {
  margin: 4px 0px 10px;
}

#chat-box {
  width: 90%;
  max-width: 30rem;
  margin: 2rem auto;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 6px;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  /*container with darker coller*/
  border-color: #ccc;
  background-color: #ddd;
}

.message-information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

form {
  width: 98%;
  margin: auto 1%;
  background-color: rgb(255, 255, 255);
  padding: 1rem 0;
}

textarea {
  resize: none;
}

form button {
  margin: 1rem auto;
}

.errorMessage {
  text-align: center;
  color: red;
  font-size: 0.9rem;
  margin-top: 0.3125rem;
}

@media (max-width: 48.5rem) {
  /*768px*/
  #chat-box {
    margin: 10rem auto 4rem auto;
  }
}

@media (max-width: 30rem) {
  /*480px*/
  #chat-box {
    width: 80%;
  }
}
